<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block TITLE %}{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    {% block STYLES %}{% endblock %}
</head>
<body class="bg-gray-100">
    {% block BODY %}{% endblock %}
</body>
</html>