{% extends 'index.html' %}

{% block TITLE %}Books available{% endblock %}

{% block CONTENT %}
<div class="tracking-wide">
    <!-- title -->
  <div class="mb-4 font-light text-6xl py-1 text-transparent bg-clip-text bg-gradient-to-br from-cyan-200 via-sky-500 to-blue-800">
      Books available
  </div>

  <!-- books list -->
  <div class="border-b shadow rounded-lg overflow-auto text-blue-900">
    {% if available_books %}
    <table class="w-full text-left">
        <thead class="border-b text-sm uppercase bg-gray-100 text-blue-400">
            <tr >
                <th class="p-4 ">Isbn</th>
                <th class="p-4 ">Name</th>
                <th class="p-4 "></th>
            </tr>
        </thead>
        <tbody>
            {% for book in available_books %}
            <tr class="even:bg-gray-200 odd:bg-gray-100">
                <td class="p-4 font-light">{{ book.isbn }}</td>
                <td class="p-4">
                    {{ book.name }}
                    <div class="font-light text-sm text-blue-500">
                        {% if book.authors.all %}
                            {% for author in book.authors.all %}
                            {{ author.name }},
                            {% endfor %}
                        {% else %}
                            Anonymous
                        {% endif %}
                    </div>
                </td>
                <td class="p-2 flex justify-end">
                    <a class="flex items-center space-x-1 p-4 rounded-full border border-sky-900/10 text-sky-900 hover:bg-sky-200/50 hover:border-sky-200" href="{% url 'borrow-book' book.id %}">
                        <div class="w-6 h-6">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                            </svg>
                        </div>
                        <div>Borrow</div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="m-4 font-bold text-2xl">No available books</div>
    {% endif %}

  </div>
</div>
{% endblock %}
