{% extends 'index.html' %}

{% block TITLE %}Borrowed books{% endblock %}

{% block CONTENT %}
<div class="tracking-wide">
    <!-- title -->
  <div class="mb-4 font-light text-6xl py-1 text-transparent bg-clip-text bg-gradient-to-br from-lime-200 via-green-500 to-emerald-800">
      Borrowed books
  </div>


  <!-- books list -->
  <div class="border-b shadow rounded-lg overflow-auto text-emerald-900">
    {% if borrowed_books %}
    <table class="w-full text-left">
        <thead class="border-b text-sm uppercase bg-gray-100 text-emerald-400">
            <tr >
                <th class="p-4 ">Isbn</th>
                <th class="p-4 ">Book</th>
                <th class="p-4 ">User</th>
                <th class="p-4 ">From</th>
                <th class="p-4 ">To</th>
                <th class="p-4 "></th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in borrowed_books %}
            <tr class="even:bg-gray-200 odd:bg-gray-100">
                <td class="p-4 font-light">{{ borrow.book.isbn }}</td>
                <td class="p-4">
                    {{ borrow.book.name }}
                    <div class="font-light text-sm text-emerald-500">
                        {% for author in borrow.book.authors.all %}
                        {{ author.name }},
                        {% endfor %}
                    </div>
                </td>
                <td class="p-4">
                    <div>
                        {{ borrow.borrower.name }} {{ borrow.borrower.lastname }}

                        <div class="font-light text-sm text-emerald-500">{{ borrow.borrower.mail }}</div>
                    </div>
                </td>
                <td class="p-4">
                    <div class="w-fit px-3 py-1 rounded-full text-sm bg-lime-200 text-lime-900">
                        {{ borrow.date_borrowed|date:"M d, Y" }}
                    </div>
                </td>
                <td class="p-4">
                    <div class="w-fit px-3 py-1 rounded-full text-sm bg-lime-900 text-lime-200">
                        {{ borrow.date_return|date:"M d, Y" }}
                    </div>
                </td>
                <td class="p-2 flex justify-end">
                    <a class="flex items-center space-x-1 p-4 rounded-full border border-lime-900/10 text-lime-900 hover:bg-lime-200/50 hover:border-lime-200" href="{% url 'return-book' borrow.id %}">
                        <div class="w-6 h-6">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                            </svg>
                        </div>
                        <div>Return</div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="m-4 font-bold text-2xl">No borrowed books</div>
    {% endif %}


  </div>


</div>
{% endblock %}
