{% extends 'index.html' %}

{% block TITLE %}Overdues{% endblock %}

{% block CONTENT %}
<div class="tracking-wide">
    <!-- title -->
  <div class="mb-4 font-light text-6xl py-1 text-transparent bg-clip-text bg-gradient-to-br from-pink-200 via-rose-500 to-red-800">
      Overdue books
  </div>


  <!-- books list -->
  <div class="border-b shadow rounded-lg overflow-auto text-red-900">
    {% if overdue_books_data %}
    <table class="w-full text-left">
        <thead class="border-b text-sm uppercase bg-gray-100 text-red-400">
            <tr >
                <th class="p-4 ">Isbn</th>
                <th class="p-4 ">Book</th>
                <th class="p-4 ">User</th>
                <th class="p-4 ">To</th>
                <th class="p-4 text-right">Days late</th>
            </tr>
        </thead>
        <tbody>
            {% for data in overdue_books_data %}
            <tr class="even:bg-gray-200 odd:bg-gray-100">
                <td class="p-4 font-light">{{ data.overdue.book.isbn }}</td>
                <td class="p-4">
                    {{ data.overdue.book.name }}
                    <div class="font-light text-sm text-red-500">
                        {% for author in data.overdue.book.authors.all %}
                        {{ author.name }},
                        {% endfor %}
                    </div>
                </td>
                <td class="p-4">
                    <div>
                        {{ data.overdue.borrower.name }} {{ data.overdue.borrower.lastname }}

                        <div class="font-light text-sm text-red-500">{{ data.overdue.borrower.mail }}</div>
                    </div>
                </td>
                
                <td class="p-4">
                    <div class="w-fit px-3 py-1 rounded-full text-sm bg-rose-200 text-rose-900">
                        {{ data.overdue.date_return|date:"M d, Y" }}
                    </div>
                </td>
                <td class="p-4 text-right">
                    <div class="text-2xl font-bold text-red-700">
                        {{ data.days_late }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="m-4 font-bold text-2xl">No overdue books</div>
    {% endif %}


  </div>


</div>
{% endblock %}
