{% extends 'index.html' %}

{% block TITLE %}{{ view_text }} user{% endblock %}

{% block CONTENT %}
<div class="tracking-wide">
    <!-- title -->
  <div class="flex justify-between items-center mb-4 ">
      <div class="font-light text-6xl py-1 text-transparent bg-clip-text bg-gradient-to-br from-stone-200 via-stone-500 to-stone-800">{{ view_text }} user</div>
  </div>

<!-- create form -->
  <div class="mb-4 p-4 border-b shadow rounded-lg bg-gray-100">
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="space-y-2 text-sm text-stone-900">
                {{ form.as_ul }}
            </ul>

            <div class="text-right space-x-2">
                <button class="px-4 py-2 rounded-md bg-stone-600 text-stone-100 hover:bg-stone-700">{{ view_text }}</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}