<div class="mx-2 p-4 flex justify-between items-center tracking-wide border-b border-orange-200 text-yellow-400">
    <!-- logo -->
    <div class="flex justify-start items-center">
        <!-- icon -->
        <div class="w-8 h-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
            </svg>
        </div>
        
        <!-- name -->
        <div class="font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-br from-yellow-300 to-orange-600">
            Booky
        </div>
    </div>

    <!-- menu -->
    <div>
        <nav class="flex text-yellow-500 divide-x divide-orange-200">
            <div class="mr-4 space-x-4">
                <a href="{% url 'available-books' %}" class="font-extralight text-lg hover:text-yellow-600 hover:underline hover:decoration-2 hover:decoration-orange-400">Available books</a>
                <a href="{% url 'borrowed-books' %}" class="font-extralight text-lg hover:text-yellow-600 hover:underline hover:decoration-2 hover:decoration-orange-400">Borrowed books</a>
                <a href="{% url 'overdue-books' %}" class="font-extralight text-lg hover:text-yellow-600 hover:underline hover:decoration-2 hover:decoration-orange-400">Overdue book</a>
            </div>
            
            <div class="pl-4 space-x-4">
                <a href="{% url 'books' %}" class="font-extralight text-lg hover:text-yellow-600 hover:underline hover:decoration-2 hover:decoration-orange-400">Books</a>
                <a href="{% url 'library-users' %}" class="font-extralight text-lg hover:text-yellow-600 hover:underline hover:decoration-2 hover:decoration-orange-400">Library users</a>
                <a href="{% url 'authors' %}" class="font-extralight text-lg hover:text-yellow-600 hover:underline hover:decoration-2 hover:decoration-orange-400">Authors</a>
            </div>
        </nav>
    </div>
</div>