{% extends 'base/base.html' %}

{% block TITLE %}Booky{% endblock %}

{% block STYLES %}
<style type="text/tailwindcss">
  @layer utilities {
    input {
      @apply w-60 p-2 rounded-lg;
    }

    select {
      @apply w-60 p-2 rounded-lg;
    }
  }
</style>  
{% endblock %}

{% block BODY %}
<header>
  {% include 'includes/topbar.html' %}
</header>

<div class="w-3/4 m-auto py-4">
  <div class="">
    {% block CONTENT %}
      <span class="p-2 text-red-900 font-bold text-xl uppercase">
        Page area!
      </span>
    {% endblock %}
  </div>

</div>
{% endblock %}
