{% extends 'index.html' %}

{% block TITLE %}Books{% endblock %}

{% block CONTENT %}
<div class="tracking-wide">
    <!-- title -->
  <div class="flex justify-between items-center mb-4 ">
      <div class="font-light text-6xl py-1 text-transparent bg-clip-text bg-gradient-to-br from-yellow-200 via-yellow-500 to-yellow-800">Books</div>

      <a class="p-4 rounded-full border cursor-pointer text-yellow-900 bg-yellow-200/50 border-yellow-200 hover:bg-yellow-300" href="{% url 'create-book' %}">
        <div class="w-6 h-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
        </div>
    </a>
  </div>



  <!-- books list -->
  <div class="border-b shadow rounded-lg overflow-auto text-yellow-900">
    {% if books %}
    <table class="w-full text-left">
        <thead class="border-b text-sm uppercase bg-gray-100 text-yellow-400">
            <tr >
                <th class="p-4 ">Isbn</th>
                <th class="p-4 ">Name</th>
                <th class="p-4 "></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr class="even:bg-gray-200 odd:bg-gray-100">
                <td class="p-4 font-light">{{ book.isbn }}</td>
                <td class="p-4">
                    {{ book.name }}
                    <div class="font-light text-sm text-yellow-500">
                        {% if book.authors.all %}
                            {% for author in book.authors.all %}
                            {{ author.name }},
                            {% endfor %}
                        {% else %}
                            Anonymous
                        {% endif %}
                    </div>
                </td>
                <td class="p-2 flex justify-end space-x-2">
                    <a class="p-4 rounded-full cursor-pointer border border-yellow-900/10 text-yellow-900 hover:bg-yellow-200/50 hover:border-yellow-200" href="{% url 'update-book' book.id %}">
                        <div class="w-6 h-6">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg>
                        </div>
                    </a>
                    <a class="p-4 rounded-full cursor-pointer border border-red-900/10 text-red-900 hover:bg-red-200/50 hover:border-red-200" href="{% url 'delete-book' book.id %}">
                        <div class="w-6 h-6">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="m-4 font-bold text-2xl">No books</div>
    {% endif %}

  </div>
</div>
{% endblock %}
