{% extends 'index.html' %}

{% block TITLE %}{{ view_text }} book{% endblock %}

{% block CONTENT %}
<div class="tracking-wide">
    <!-- title -->
  <div class="flex justify-between items-center mb-4 ">
      <div class="font-light text-6xl py-1 text-transparent bg-clip-text bg-gradient-to-br from-yellow-200 via-yellow-500 to-yellow-800">{{ view_text }} book</div>
  </div>

<!-- create form -->
  <div class="mb-4 p-4 border-b shadow rounded-lg bg-gray-100">
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="space-y-2 text-sm text-yellow-900">
                {{ form.as_ul }}
            </ul>

            <div class="text-right space-x-2">
                <button class="px-4 py-2 rounded-md bg-yellow-600 text-yellow-100 hover:bg-yellow-700">{{ view_text }}</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}